<?xml version="1.0" encoding="UTF-8"?>
<!-- https://phpunit.readthedocs.io/en/latest/configuration.html -->
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="vendor/phpunit/phpunit/phpunit.xsd" backupGlobals="false" colors="true" bootstrap="vendor/autoload.php" cacheDirectory=".phpunit.cache">
  <php>
    <ini name="display_errors" value="1"/>
    <ini name="error_reporting" value="-1"/>
    <server name="APP_ENV" value="test" force="true"/>
    <server name="SHELL_VERBOSITY" value="-1"/>
  </php>
  <testsuites>
    <testsuite name="Crayfish Commons Tests">
      <directory>Tests</directory>
    </testsuite>
  </testsuites>
  <!-- Run `composer require symfony/panther` before enabling this extension -->
  <!--
    <extensions>
        <extension class="Symfony\Component\Panther\ServerExtension" />
    </extensions>
    -->
  <source>
    <include>
      <directory suffix=".php">.</directory>
    </include>
    <exclude>
      <directory>Tests</directory>
      <directory>vendor</directory>
    </exclude>
  </source>
  <extensions>
    <bootstrap class="Symfony\Bridge\PhpUnit\SymfonyExtension"/>
  </extensions>
</phpunit>
